@import "tailwindcss";

@theme {
  --color-brand: #4f46e5;
  --color-bg-main: #f8fafc;
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-bg-main);
  color: #0f172a; /* Dark Slate për lexueshmëri maksimale */
  margin: 0;
}

/* Rregullon input-et që të mos jenë transparente */
input, select {
  background-color: white !important;
  color: black !important;
}